* {
    font-family: Arial, sans;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

#container {
    margin: 0 auto;
    width: 100%;
    background: white;
    border-color: #99bce8;
    color: black;
    font-size: 12px;
    font-weight: normal;
    font-family: tahoma, arial, verdana, sans-serif;
    border-width: 3px;
    border-style: solid;
    background-image: none;
    background-color: #cbdbef;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dde8f5), color-stop(100%, #cbdbef));
    background-image: -webkit-linear-gradient(top, #dde8f5, #cbdbef);
    background-image: -moz-linear-gradient(top, #dde8f5, #cbdbef);
    background-image: -o-linear-gradient(top, #dde8f5, #cbdbef);
    background-image: -ms-linear-gradient(top, #dde8f5, #cbdbef);
    background-image: linear-gradient(top, #dde8f5, #cbdbef);
    border-bottom-width: 0px !important;
    border-left-width: 4px;
    border-right-width: 4px;
}

#container input {
    height: 23px;
    visibility: hidden;
}

#container label {
    border-color: #8db3e3;
    -webkit-box-shadow: white 0 1px 0px 0 inset, white -1px 0 0px 0 inset, white 1px 0 0px 0 inset;
    -moz-box-shadow: white 0 1px 0px 0 inset, white -1px 0 0px 0 inset, white 1px 0 0px 0 inset;
    box-shadow: white 0 1px 0px 0 inset, white -1px 0 0px 0 inset, white 1px 0 0px 0 inset;
    background: #f9f9f9;
    border-radius: .25em .25em 0 0;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 1em;
    height: 23px;
    line-height: 2.5em;
    margin-right: 0.5px;
    text-align: center;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 4px 9px 3px 9px;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    background-image: none;
    background-color: #deecfd;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ccdef6), color-stop(25%, #d6e6fa), color-stop(45%, #deecfd));
    background-image: -webkit-linear-gradient(top, #ccdef6, #d6e6fa 25%, #deecfd 45%);
    background-image: -moz-linear-gradient(top, #ccdef6, #d6e6fa 25%, #deecfd 45%);
    background-image: -o-linear-gradient(top, #ccdef6, #d6e6fa 25%, #deecfd 45%);
    background-image: -ms-linear-gradient(top, #ccdef6, #d6e6fa 25%, #deecfd 45%);
    background-image: linear-gradient(top, #ccdef6, #d6e6fa 25%, #deecfd 45%);
    font: bold 11px/13px tahoma, arial, verdana, sans-serif;
    color: #416da3;
    max-width: 100%;
    margin-top: 1px;
    margin-left: 2px;
    border-bottom: 1px solid #99bce8;
}

#container input:hover + label {
    background: #deecfd;
}

#container input:checked + label {
    -webkit-box-shadow: white 0 1px 0px 0 inset, white -1px 0 0px 0 inset, white 1px 0 0px 0 inset;
    -moz-box-shadow: white 0 1px 0px 0 inset, white -1px 0 0px 0 inset, white 1px 0 0px 0 inset;
    box-shadow: white 0 1px 0px 0 inset, white -1px 0 0px 0 inset, white 1px 0 0px 0 inset;
    background-image: none;
    background-color: #deecfd;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(25%, #f5f9fe), color-stop(45%, #deecfd));
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f9fe 25%, #deecfd 45%);
    background-image: -moz-linear-gradient(top, #ffffff, #f5f9fe 25%, #deecfd 45%);
    background-image: -o-linear-gradient(top, #ffffff, #f5f9fe 25%, #deecfd 45%);
    background-image: -ms-linear-gradient(top, #ffffff, #f5f9fe 25%, #deecfd 45%);
    background-image: linear-gradient(top, #ffffff, #f5f9fe 25%, #deecfd 45%);
    border-bottom: none;
    color: #15498b;
}

#content {
    background: #ffffff;
    border-radius: 0;
    min-height: 20em;
    position: relative;
    width: 100%;
    z-index: 5;
    border: 1px #99BCE8 solid;
    display: block;
    border-left-width: 0px;
    border-right-width: 0px;
}

#content div.contentDiv {
    opacity: 0;
    padding: 1.5em;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: visible;
    overflow-x: hidden;
}
#container input#tab-1:checked ~ #content #content-1,
#container input#tab-2:checked ~ #content #content-2,
#container input#tab-3:checked ~ #content #content-3 {
    opacity: 1;
    z-index: 100;
}

input.visible {
    visibility: visible !important;
}

.menuNav
{   
    height: 28px;
    border: 1px solid rgb(153, 188, 232);
    font: normal 11px/16px tahoma, arial, verdana, sans-serif;
    color: #333333;
    border-style: solid;
    border-color: #99bce8;
    border-width: 1px;
    background-image: none;
    background-color: #d3e1f1;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfe9f5), color-stop(100%, #d3e1f1));
    background-image: -webkit-linear-gradient(top, #dfe9f5, #d3e1f1);
    background-image: -moz-linear-gradient(top, #dfe9f5, #d3e1f1);
    background-image: -o-linear-gradient(top, #dfe9f5, #d3e1f1);
    background-image: -ms-linear-gradient(top, #dfe9f5, #d3e1f1);
    background-image: linear-gradient(top, #dfe9f5, #d3e1f1);
}

.menuNav ul
{
    float: right;
    margin-right: 2px;
}
.active a
{
    border: 1px dotted;
    padding: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.active
{
    padding: 0px !important;
}

.menuNav ul li
{
    font: normal 11px/16px tahoma, arial, verdana, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-stretch: normal;
    line-height: 16px;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    height: 22px;
    display: inline-block;
    padding: 1px 6px 0px 6px !important;
    margin: 2px 0px 2px 0px;
}

.strip
{
    border-width: 1px 0 0 0;
    height: 3px;
    width: 100%;
    left: 0;
    border-style: solid;
    border-color: #99bce8;
    background-color: #deecfd;
    line-height: 0;
    font-size: 0;
    z-index: 2;
    margin-top: -3px;
}

footer
{
    padding: 2px 0 2px 2px;
    border-style: solid;
    border-color: #99bce8;
    background-image: none;
    background-color: #d3e1f1;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfe9f5), color-stop(100%, #d3e1f1));
    background-image: -webkit-linear-gradient(top, #dfe9f5, #d3e1f1);
    background-image: -moz-linear-gradient(top, #dfe9f5, #d3e1f1);
    background-image: -o-linear-gradient(top, #dfe9f5, #d3e1f1);
    background-image: -ms-linear-gradient(top, #dfe9f5, #d3e1f1);
    background-image: linear-gradient(top, #dfe9f5, #d3e1f1);
    color: black;
    font-size: 12px;
    font-weight: normal;
    font-family: tahoma, arial, verdana, sans-serif;
    border-left-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
}

.submitBtn
{
    background-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color:rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: 22px;
    left: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(0, 0, 0);
    outline-style: none;
    outline-width: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: 49px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.submitBtn:hover, .menuNav ul li:hover
{
    border-color: #b0ccf2;
    background-image: none;
    background-color: #e4f3ff;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4f3ff), color-stop(48%, #d9edff), color-stop(52%, #c2d8f2), color-stop(100%, #c6dcf6));
    background-image: -webkit-linear-gradient(top, #e4f3ff, #d9edff 48%, #c2d8f2 52%, #c6dcf6);
    background-image: -moz-linear-gradient(top, #e4f3ff, #d9edff 48%, #c2d8f2 52%, #c6dcf6);
    background-image: -o-linear-gradient(top, #e4f3ff, #d9edff 48%, #c2d8f2 52%, #c6dcf6);
    background-image: -ms-linear-gradient(top, #e4f3ff, #d9edff 48%, #c2d8f2 52%, #c6dcf6);
    background-image: linear-gradient(top, #e4f3ff, #d9edff 48%, #c2d8f2 52%, #c6dcf6);
}

a
{
    text-decoration: none;
    color:rgb(51, 51, 51);
}

.tab1-innerDiv, .tab3-innerInnerDiv
{ 
    padding: 0px !important;
    margin: 8px 2px;
    width: 48% !important;
    height: auto !important;
    overflow: hidden !important;
    color: black;
    font-size: 12px;
    font-weight: normal;
    font-family: tahoma, arial, verdana, sans-serif;
    opacity: 1 !important;
    display: inline-block;
    position: initial !important;
    float: left;
}

#content input
{
    visibility: inherit;
}

.row
{
    border-spacing: 0;
    border-collapse: separate;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: black;
    font-size: 12px;
    font-weight: normal;
    font-family: tahoma, arial, verdana, sans-serif;
    height: auto;
    vertical-align: middle;
    display: block;
    margin: 15px 0px;
}

.row span
{
    width: 35%;
    display: inline-block;
    max-width: 180px;
}

.rowInput
{
    width: 63%;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #B5B8C8;
    background: #fff;
    color: black;
    padding: 1px 3px 2px 3px;
    background-color: white;
    font: normal 12px/17px tahoma, arial, verdana, sans-serif;
    min-height: 20px;
}
input[type=checkbox].rowInput
{
    width: 13px !important;
}

fieldset
{
    border: 1px solid #b5b8c8;
    padding: 0px 10px 15px 10px;
    margin: 10px 0 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    display: block;
    overflow: hidden;
    color: black;
    font-size: 12px;
    font-weight: normal;
    font-family: tahoma, arial, verdana, sans-serif;
}

legend
{
    font: normal 11px/14px tahoma, arial, verdana, sans-serif;
    color: #15428B;
    padding: 1px 0;
    position: relative;
}

fieldset .row
{
    margin: 10px 0px !important;
}

.uploadButton
{
    min-width: 75px;
    right: auto;
    left: 245px;
    top: 0px;
    margin: -15px 0px;
    border-color: #d1d1d1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 2px 2px 2px;
    border-width: 1px;
    border-style: solid;
    background-image: none;
    background-color: white;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(48%, #f9f9f9), color-stop(52%, #e2e2e2), color-stop(100%, #e7e7e7));
    background-image: -webkit-linear-gradient(top, #ffffff, #f9f9f9 48%, #e2e2e2 52%, #e7e7e7);
    background-image: -moz-linear-gradient(top, #ffffff, #f9f9f9 48%, #e2e2e2 52%, #e7e7e7);
    background-image: -o-linear-gradient(top, #ffffff, #f9f9f9 48%, #e2e2e2 52%, #e7e7e7);
    background-image: -ms-linear-gradient(top, #ffffff, #f9f9f9 48%, #e2e2e2 52%, #e7e7e7);
    background-image: linear-gradient(top, #ffffff, #f9f9f9 48%, #e2e2e2 52%, #e7e7e7);
    display: inline-block;
    outline: 0;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: top;
    overflow: hidden;
    font: normal 11px/16px tahoma, arial, verdana, sans-serif;
    color: #333333;
    max-width: 100%;
    float: right;
    margin-bottom: 10px;
}

.fileFieldSet
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    background-color: #dfe9f6;
    border-color: #99bce8;
    padding: 0px 10px 0px 10px;
    width: 100%;
    height: 67px

}
.rowInput_file
{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #B5B8C8;
    background: #fff;
    color: black;
    padding: 1px 3px 2px 3px;
    background-color: white;
    font: normal 12px/17px tahoma, arial, verdana, sans-serif;
    min-height: 20px;
}

.tab2-innerDiv, .tab3-innerDiv
{
    padding: 0px !important;
    width: 100% !important;
    height: 100% !important;
    overflow: auto !important;
    color: black;
    font-size: 12px;
    font-weight: normal;
    font-family: tahoma, arial, verdana, sans-serif;
    opacity: 1 !important;
    display: inline-block;
    position: initial !important;
    float: left;
}
.terraRow span
{
    float: left;
    height: 450px;
}
.departmentRow span
{
    float: left;
    height: 130px;
}
.xlRow span
{
    float: left;
    height: 170px;
}
#content-2, #content-3
{
    padding: 0px 1.5em 0px 1.5em !important;
}

.divEleonly, .divPardCopy
{
    opacity: 1 !important;
    padding: 10px !important;
    width: 95% !important;
    height: 100% !important;
}

.divEleonly span
{
    width: 100%;
    display: block;
    padding-bottom: 5px;
    padding-top: 4px;
    color: black;
    font: normal 12px/14px tahoma, arial, verdana, sans-serif;
}

.tab3Inputs
{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #B5B8C8;
    background: #fff;
    color: black;
    padding: 1px 3px 2px 3px;
    background-color: white;
    font: normal 12px/17px tahoma, arial, verdana, sans-serif;
    min-height: 20px;
    height: 23px;
}

.tab3-innerInnerDiv span
{
    height: 1px;
    color: black;
    font: normal 12px/14px tahoma, arial, verdana, sans-serif;
    min-height: 22px;
    padding-right: 5px;
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-drag: none;
    cursor: default;
    padding-bottom: 5px;
    padding-top: 4px;
    display: block;
    width: 100%;
    margin-top: 5px;
}

.tab3-innerInnerDiv 
{
    width: 47% !important;
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.adminMainDiv
{
    background: white;
    border-color: #99bce8;
    color: black;
    font-size: 12px;
    font-weight: normal;
    font-family: tahoma, arial, verdana, sans-serif;
    border-width: 3px;
    border-style: solid;
    display: block;
    border-top-width: 2px;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    width: 100%
}

.table_3_upper
{
    width: 31.4%;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
    display: inline-block;
}

.table_1_upper
{
    width: 100%;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.table_Head
{
    -webkit-box-shadow: #f3f7fb 0 1px 0px 0 inset;
    -moz-box-shadow: #f3f7fb 0 1px 0px 0 inset;
    box-shadow: #f3f7fb 0 1px 0px 0 inset;
    background-image: none;
    background-color: #cbddf3;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dae7f6), color-stop(45%, #cddef3), color-stop(46%, #abc7ec), color-stop(50%, #abc7ec), color-stop(51%, #b8cfee), color-stop(100%, #cbddf3));
    background-image: -webkit-linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3);
    background-image: -moz-linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3);
    background-image: -o-linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3);
    background-image: -ms-linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3);
    background-image: linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3);
    border: 1px solid #99bce8;
    border-bottom-width: 0 !important;
    overflow: hidden;
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-drag: none;
    cursor: default;
    text-transform: none;
    padding: 5px 7px 6px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    vertical-align: middle;
    color: #04408c;
    font-size: 11px;
    font-weight: bold;
    font-family: tahoma, arial, verdana, sans-serif;
    line-height: 15px;
    text-align: left;
}

.tableCls
{
    background: white;
    border-color: #99bce8;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    table-layout: fixed;
    color: black;
    font-size: 12px;
    font-weight: normal;
    font-family: tahoma, arial, verdana, sans-serif;
}

.tableCls tr
{
    height: 16px;
}

.tableCls th
{
    border-right: 1px solid #c5c5c5;
    color: black;
    font: normal 11px/13px tahoma, arial, verdana, sans-serif;
    outline: 0;
    background-image: none;
    background-color: #c5c5c5;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e3e4e6));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #e3e4e6);
    background-image: -moz-linear-gradient(top, #f9f9f9, #e3e4e6);
    background-image: -o-linear-gradient(top, #f9f9f9, #e3e4e6);
    background-image: -ms-linear-gradient(top, #f9f9f9, #e3e4e6);
    background-image: linear-gradient(top, #f9f9f9, #e3e4e6);
    text-align: left;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-drag: none;
    cursor: default;
    user-select: none;
    padding: 4px 6px 5px 6px;
    white-space: nowrap;
    position: relative;
    overflow: hidden; 
}

.headTr
{
    border-bottom: 1px solid #c5c5c5;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto !important;
}

.table_1_upper td
{
    display: table-cell;
    padding: 2px 0px 2px 3px;
}

input[type=checkbox].css-checkbox
{
    position: absolute;
    z-index: -1000;
    left:-1000px;
    overflow: hidden;
    height: 1px;
    padding: 0;
    border: 0;
    opacity: 0;
    margin-top: -3px;
    cursor: pointer; 
    width: 1px;

}

input[type=checkbox].css-checkbox + span.css-label, input[type=checkbox].css-checkbox + span.css-label.clr
{
    padding-left:18px;
    height:13px; 
    display:inline-block;
    line-height:13px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:13px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + span.css-label, input[type=checkbox].css-checkbox + span.css-label.chk
{
    background-position: 0 -13px;
}

span.css-label
{
    background-image:url(../images/checkbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width:auto !important;
    margin: 0px 10px 0px 0px;
}


div.custom_file_upload {
    width: 230px !important;
    height: 28px !important;
    opacity: 1 !important;
    padding: 0 !important;
    position: inherit !important;
    overflow: hidden !important;
    float: left;
    margin-top: 0px;

}
.fff{
     box-sizing: none;
     cursor: pointer!important;
}
div.custom_file_upload2 {
    width: 100%;
    height: 28px !important;
    opacity: 1 !important;
    position: inherit !important;
    overflow: hidden !important;
    float: left;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #99bce8;
    background: #fff;
    color: black;
    padding: 0px 3px 2px 3px !important;
    background-color: white;
    font: normal 12px/17px tahoma, arial, verdana, sans-serif;
    min-height: 20px;

}
input[type=file]:focus
{
    background: transparent;
    border: 1px dotted;
    background-color: #99bce;outline: 0;
}
#uploadButton2{
    margin-top: 5px;
}

input[type=button]:{ 
    border: 1px dotted;
    background-color: #99bce;outline: 0;
}
input[type=button]:focus{

    border: 1px dotted;
    background-color: dotted solid;
}
.file_upload:hover  {
    background: #deecfd;

}
.uploadButton:hover  {
    background: #deecfd;

}
.file{
    margin-left: 80px;
    border-radius: 0px !important;
    margin-top: 0px;
    padding-top: 0px;
    width: 85px;
    height: 20px;
  }

input[type="file" i]:.fff,{
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: buttontext;
  border: 2px outset buttonface;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: buttonface;
}
.fff{
    padding: 5px !important;
}
input.file {
    width: 85px;
    height: 20px;
    border-right: 0;
    color: #888;
    padding: 5px;
    border:1px #99bce8 solid;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden !important;
    outline: none;margin-top: 0px;
    padding-top: 0px;
}

div.file_upload {
    width: 60px !important;
    height: 20px !important;
    position: absolute !important;
    overflow: hidden !important;
    cursor: pointer !important;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
    text-align: center;
    opacity: 1 !important;
    padding-top: 8px !important;
    border-color: #d1d1d1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    background-image: none;
    background-color: white;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(48%, #f9f9f9), color-stop(52%, #e2e2e2), color-stop(100%, #e7e7e7));
    background-image: -webkit-linear-gradient(top, #ffffff, #f9f9f9 48%, #e2e2e2 52%, #e7e7e7);
    background-image: -moz-linear-gradient(top, #ffffff, #f9f9f9 48%, #e2e2e2 52%, #e7e7e7);
    background-image: -o-linear-gradient(top, #ffffff, #f9f9f9 48%, #e2e2e2 52%, #e7e7e7);
    background-image: -ms-linear-gradient(top, #ffffff, #f9f9f9 48%, #e2e2e2 52%, #e7e7e7);
    background-image: linear-gradient(top, #ffffff, #f9f9f9 48%, #e2e2e2 52%, #e7e7e7);
    display: inline-block;
    outline: 0;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: top;
    margin-left: 3px;
    font: normal 11px/16px tahoma, arial, verdana, sans-serif;
    color: #333333;
    padding: 0 4px !important;
    max-width: 100%;
}
div.file_upload:before {
    content: 'Browse...';
    position: absolute;
    left: 0; right: 0;
    text-align: center;
    overflow: hidden !important;
    cursor: pointer;
}

div.file_upload input {
    position: relative;
    height: 30px;
    width: 250px;
    display: inline;
    cursor: pointer;
    opacity: 0;
    overflow: hidden !important;
}
.tab2_file{
    background-color: red;
    width: 900px;
} 